
<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand"><em><a routerLink="/website">Maggie's HOME</a></em></span>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <strong>
            <a class="nav-link" routerLink="/signin">Sign In <span class="sr-only">(current)</span></a>
          </strong>
        </li>
        <li class="nav-item">
          <strong>
            <a class="nav-link" routerLink="/signup">Sign Up</a>
          </strong>
        </li>
        <li class="nav-item">
          <strong>
            <a class="nav-link" routerLink="/profile">Create Profile</a>
          </strong>
        </li>

        <!--<li class="nav-item" *ngIf="authService.messageSource">-->
          <!--<a class="nav-link" routerLink="/profile">Profile <span class="sr-only">(current)</span></a>-->
          <!--&lt;!&ndash;<a class="nav-link" routerLink="/profile">profile</a>&ndash;&gt;-->
        <!--</li>-->

      </ul>
    </div>
  </nav>
</div>
