<div class="prof-box">
  <img src="photo/me.jpg" />
  <h1>Jingyi Ma</h1>
  <h4>Looking for a full-time junior Web Developer or Front-End Developer</h4>
  <h5>Email: jma093@uottawa.ca</h5>

  <div class="line-break"></div>

  <p>
    My passion is in learning new technology and challenging myself.
  </p>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/maggie-ma-7a8b2814a/"><i class="fa fa-linkedin-square list-link" aria-hidden="true"></i></a>
    <a href="https://github.com/jingyi1993"><i class="fa fa-github-square list-link" aria-hidden="true"></i></a>
  </div>
</div>


<div class="summary">
  <div class=" divPad hover">
    <h2>Summary</h2>
    <p>
      Mainly focus on Front-End Web development. Have completed master degree on Computer Engineering and learned JavaScript and related technologies. Did some projects and hosted these projects on GitHub. Now looking for a full-time  Junior Web Developer or Junior front-end Developer.
    </p>
  </div>
  <div class=" hover">
    <h2>Skills</h2>
    <ul class="ulStyle">
      <li>Proficient in Web Development Skills including JavaScript (ES6), HTML/CSS, React/React-Native, Angular to create reusable and dynamic component-based front end </li>
      <li> Solid background on Database (MySQL/MongoDB), Backend (Node.js/Express) Implementation and Server (AWS) Configuration</li>
      <li>Familiar with Java Solid background on Database (MySQL/MongoDB), Backend (Node.js/Express) Implementation and Server (AWS) Configuration</li>
      <li>Passionate & Dedicated graduate willing to contribute in an Agile environment and independently</li>
    </ul>
  </div>
  <!--<div class=" divPad hover">-->
  <!--<h2>Project experience</h2>-->
  <!--<h4>GitHub Finder App</h4>-->
  <!--<ul>-->
  <!--<li>Related technologies:jQuery, Ajax, javaScript.</li>-->
  <!--<li>Description: By typing the username of Github users, can get the profile of the users on the webpage.</li>-->
  <!--<li><a class="list-link" href="https://dalichao.github.io/GithubFinder/">Click to see the project</a></li>-->
  <!--</ul>-->
  <!--</div>-->
  <div class=" divPad hover">

    <h4>Online Book Auction Platform </h4>
    <ul>
      <li>Related technologies:React JS, Bootstrap, JavaScript, axios.</li>
      <li>Build a single page application using Angular 5 for client-side and Node.js for backend via socket to keep client and server side consistent once an update occur.</li>
      <li>Description: a book auction platform which can see the price and rating fluctuate of books.</li>
      <li><a class="list-link" href="https://github.com/jingyi1993/travelWebsite-ATBI">Click to see the project</a></li>
    </ul>
  </div>
  <div class=" divPad hover">

    <h4>Movie Info App</h4>
    <ul>
      <li>Related technologies:JavaScript, jQuery, Ajax, axios.</li>
      <li>Description: By typing the keywords of movie, can get all the relevant movies information and details. </li>
      <li><a class="list-link" href="https://dalichao.github.io/Movie-Info-App/">Click to see the project</a></li>
    </ul>
  </div>
  <!--<div class=" divPad hover">-->

  <!--<h4>Recipe Box App</h4>-->
  <!--<ul>-->
  <!--<li>Related technologies:React JS, Bootstrap, JavaScript.</li>-->
  <!--<li>Description: A recipe box built with react, users can add, edit and delete recipes.</li>-->
  <!--<li><a class="list-link" href="https://dalichao.github.io/Recipe-Box/">Click to see the project</a></li>-->
  <!--</ul>-->
  <!--</div>-->
  <div class=" divPad hover">

    <h4>Weather app with address</h4>
    <ul>
      <li>Related technologies: NodeJs, express, googleWeatherApi, axioxs， promise </li>
      <li>Description: know the instant weather information when type in the address or postal code information..</li>
      <li><a class="list-link" href="https://github.com/jingyi1993/weather-app">Click to see the project</a></li>
    </ul>
  </div>
  <!--<div class=" divPad hover">-->


  <!--<h4>React with Instagram</h4>-->
  <!--<ul>-->
  <!--<li>Related technologies: React, Redux, Bootstrap, Webpack, Turbo</li>-->
  <!--<li>Description: Fetching Instagram user photos according to the input username.</li>-->
  <!--<li><a class="list-link" href="https://github.com/DaliChao/React-with-Instagram">Click to see the repositpry on my GitHub</a></li>-->
  <!--</ul>-->
  <!--</div>-->
  <div class=" divPad hover">

    <h4>Burger-Order platform</h4>
    <ul>
      <li>Build an online ordering mobile-app using React and Redux combining all the new features in ES6, style burger information in CSS and dynamically update the statistics by JavaScript for frontend</li>
      <li>Utilize higher order component as a wrapper to implement the reusable property of component and work as an error handler to display the error message in a user-friendly way.

      </li>
      <li>Transform data to backend using Firebase to keep the order data including ingredients, customer info and delivery method, utilize Axios API to guarantee the data consistency.</li>
      <li><a class="list-link" href="https://burger-order-platform.herokuapp.com/">Click to see the Project</a></li>
    </ul>

  </div>
  <div class=" hover">
    <h2>Education</h2>
    <ul>
      <li>Master of Engineering,  2016 Sept-2018 June</li>
      <li>Major: Computer and Electrical Engineering</li>
      <li>University of Ottawa</li>
    </ul>
  </div>
</div>

