.row {
  margin-top: 100px;
}



input.ng-invalid.ng-touched {
border :1px solid red;

}

span {
  margin: 0px;
  padding: 0px;
}

.new {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center
}
span {
  /*width: 35px;*/
  /*background-color: navajowhite;*/
}

label {
  color: black;
}

/*style="height: 30px; display: flex; justify-content: center; align-items: center"*/


