

<div class="p-3 mb-2 bg-secondary text-white">
  <div class="row rounded border border-primary"
       >
    <div class="col-xs-12 col-sm-10 clo-md-8 col-sm-offset-1 col-md-offset-2" >
      <form (ngSubmit)="onSignup(f)" #f="ngForm"style="margin-right: 190px">
        <label for="email"> Mail </label>
        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text"
                 id="email"
                 name="email"
                 placeholder="email"
                 ngModel
                 class="form-control"
                 onmouseover="this.style.borderColor='#FF6600'"
                 onmouseout="this.style.borderColor=''"
                 email
                 required
                  #email="ngModel"
                  (ngModelChange)="inputHandler(email)">
        </div>

        <div class="new" >
           <span class="help-block text-danger text-center" *ngIf="!email.valid && email.dirty" >
          <i class="glyphicon glyphicon-remove"></i>
          please type in a valid email
        </span>
          <span class="help-block text-success text-center" *ngIf="email.valid && email.dirty" >
          <i class="glyphicon glyphicon-ok"></i>
          We will email you to confirm
        </span>
        </div>

        <label for="password"> Password</label>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock"></i>
          </span>
          <input type="password"
                 id="password"
                 name="password"
                 ngModel
                 class="form-control"
                 placeholder="password"
                 onmouseover="this.style.borderColor='#FF6600'"
                 onmouseout="this.style.borderColor=''"
                 minlength="6"
                 required
                 #password="ngModel"
                 (ngModelChange)="passwordChangeHandler(password)">
        </div>
        <div class="new">
          <span class="help-block text-danger text-center" *ngIf="!password.valid && password.dirty">
           <i class="glyphicon glyphicon-remove"></i>
          please enter password of minlength 6
        </span>
          <span class="help-block text-success text-center" *ngIf="password.valid && password.dirty" >
          <i class="glyphicon glyphicon-ok"></i>
          the password is ok
        </span>
        </div>

       //type in confirm password
        <label for="password"> Confirm Password</label>
        <div class="input-group ">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password"
                 id="repassword"
                 name="repassword"
                 ngModel
                 class="form-control"
                 placeholder="please type in password again"
                 onmouseover="this.style.borderColor='#FF6600'"
                 onmouseout="this.style.borderColor=''"
                 minlength="6"
                 required
                 #repassword="ngModel"
                 pattern= password
                 (ngModelChange)="repasswordChangeHandler(repassword)">
        </div>

        <div class="new">
              <!--<span class="help-block text-danger text-center" *ngIf="!repassword.valid && repassword.dirty">-->
           <!--<i class="glyphicon glyphicon-remove"></i>-->
          <!--please enter password of minlength 6-->
        <!--</span>-->
          <!--<span class="help-block text-success text-center" *ngIf="repassword.valid && repassword.dirty" >-->
          <!--<i class="glyphicon glyphicon-ok"></i>-->
          <!--the password is ok-->
        <!--</span>-->

           <span class="help-block text-danger text-center"
                 *ngIf="repassword.dirty&& confirmInformation ==='please re-enter right password!'" >
          <i class="glyphicon glyphicon-remove"></i>
          {{confirmInformation}}
        </span>
          <span class="help-block text-success text-center"
                *ngIf="repassword.dirty && confirmInformation ==='password matches'" >
          <i class="glyphicon glyphicon-ok"></i>
          {{confirmInformation}}
        </span>
        </div>

        //type in text

        <label for="exampleFormControlTextarea1">Example textarea</label>
        <div class="input-group" >
          <textarea class="form-control"
                    type="text"
                    name="textinput"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    required
                     ngModel>

          </textarea>
        </div>

        //select constellation

        <div class="input-group">
          <label> constellation </label>
            <select class="form-control form-control-lg"
                    ngModel
                    name="constellation"
                    id="option">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>

        </div>



        <button class="btn btn-primary center-block"
                type="submit">
                <!--[disabled]="!f.valid">-->


                 Sign up
        </button>
      </form>
    </div>
  </div>
</div>




