<div >

  {{email}} {{constellation}} {{textinput}} {{nickname}}

</div>




<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron mt-5 shadow-lg rounded bg-light">
        <div class="row">
          <div class="col-md-6">
            <h1 class="">github-cards</h1>
            <p class="lead">Generate your personalized Github profile card below!</p>
          </div>
          <div class="col-md-6">
            <form id="github-profile-form">
              <div class="form-group">
                <label for="github-username">GitHub Username</label>
                <input type="text" class="form-control" id="github-username" aria-describedby="githubhelp" placeholder="joe-lynn">
                <small id="githubhelp" class="form-text text-muted">Profile data must be set to public</small>
              </div>
              <button type="submit" class="btn btn-info">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--<div class="col-md-6">-->
      <!--<div class="card">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title">Classique - 400x200</h5>-->
          <!--<div class="row">-->
            <!--<iframe id="classique-iframe" frameborder="none" scrolling="no" class="mx-auto" width="415" height="215" src="?usr=joe-lynn&crd=classique" ></iframe>-->
          <!--</div>-->
          <!--<div class="row mt-3">-->
            <!--<textarea readonly onclick="this.select()" class="form-control mx-auto embed-text" id="classique-embed-text" rows="3"></textarea>-->
          <!--</div>-->
          <!--<div class="row mt-2">-->
            <!--<button onclick="selectEmbed('classique-embed-text')" class="btn btn-sm btn-default mx-auto">Copy!</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--<div class="card">-->
        <!--<div class="card-body">-->
          <!--<h5 class="card-title">Obvert - 300x400</h5>-->
          <!--<div class="row">-->
            <!--<iframe id="obvert-iframe" frameborder="none" scrolling="no" class="mx-auto" width="310" height="388" src="?usr=joe-lynn&crd=obvert&pri=4078C0" ></iframe>-->
          <!--</div>-->
          <!--<div class="row mt-2">-->
            <!--<textarea readonly onclick="this.select()" style="resize: none; width: 400px;" class="form-control mx-auto embed-text" id="obvert-embed-text" rows="3"></textarea>-->
          <!--</div>-->
          <!--<div class="row mt-2">-->
            <!--<button onclick="selectEmbed('obvert-embed-text')" class="btn btn-sm btn-default mx-auto">Copy!</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>



